@charset "UTF-8";
* {
  font-family: "微软雅黑"; }

ul {
  list-style-type: none;
  padding: 0; }

a:hover {
  text-decoration: none; }

/*webkit内核滚动条修改*/
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar:horizontal {
  height: 10px; }

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background-color: #ccc; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-track-piece {
  background-color: #ccc;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 5px;
  background: #999; }

::-webkit-scrollbar-thumb:hover {
  background: #8e8e8e; }

::-webkit-scrollbar-corner {
  background-color: #ccc;
  border-radius: 5px; }
