@keyframes taskDou {
  0%, 100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  50% {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  75% {
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  85% {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); } }

.taskCategorys {
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  width: 1280px;
  height: 700px;
  overflow-x: scroll; }
  .taskCategorys .taskList {
    flex: none;
    background: #EEE;
    padding: 4px 7px;
    border-radius: 4px;
    margin-right: 7px;
    width: 290px;
    min-height: 680px; }
    .taskCategorys .taskList h4 {
      height: 34px;
      line-height: 34px;
      color: #666; }
      .taskCategorys .taskList h4:hover {
        color: #000; }
      .taskCategorys .taskList h4 button {
        display: none; }
    .taskCategorys .taskList .item {
      clear: both;
      background: #FFF;
      min-height: 100px;
      margin-bottom: 7px;
      padding: 3px 6px;
      border: 3px solid #DDD;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.2s;
      color: #666; }
      .taskCategorys .taskList .item:hover {
        background: #00ccdd;
        color: #000; }
      .taskCategorys .taskList .item .taskTitle {
        height: 42px; }
      .taskCategorys .taskList .item p {
        clear: both; }
        .taskCategorys .taskList .item p:last-child {
          text-align: right; }
        .taskCategorys .taskList .item p span {
          background: #3DA8F5;
          padding: 3px;
          border-radius: 3px;
          color: #FFF;
          position: relative;
          top: 3px; }
    .taskCategorys .taskList .item.dou {
      animation: taskDou 0.5s alternate; }

.wrapAddTaskWorker {
  padding: 10px; }
  .wrapAddTaskWorker .btn-success {
    width: 88px; }
  .wrapAddTaskWorker .warpMembers label {
    margin-right: 12px; }

.wrapTaskDetail .modal-content {
  background: #F7F7F7;
  padding: 13px; }

.wrapTaskDetail .modal-body {
  padding: 0; }

.wrapTaskDetail .row {
  margin: 0; }

.wrapTaskDetail .taskTitle {
  margin-top: 3px;
  padding: 2px;
  font-weight: bold; }

.wrapTaskDetail .topInfo {
  background: #FFF;
  height: 80px;
  border: 1px solid #E6E6E6;
  border-radius: 4px; }
  .wrapTaskDetail .topInfo div {
    border-right: 1px solid #E6E6E6;
    height: 100%; }
  .wrapTaskDetail .topInfo div:last-child {
    border-right: none; }
  .wrapTaskDetail .topInfo p:first-child {
    font-size: 12px;
    color: #666;
    margin: 3px 0; }
  .wrapTaskDetail .topInfo .avatar {
    margin-bottom: 5px; }

.wrapTaskDetail .wrapAddChildTaskForm {
  margin-top: 7px; }
  .wrapTaskDetail .wrapAddChildTaskForm p {
    text-align: right;
    margin-top: 5px; }
    .wrapTaskDetail .wrapAddChildTaskForm p img, .wrapTaskDetail .wrapAddChildTaskForm p span, .wrapTaskDetail .wrapAddChildTaskForm p button {
      margin-right: 5px; }
    .wrapTaskDetail .wrapAddChildTaskForm p .limitTime {
      cursor: pointer; }

.wrapTaskDetail .btnAddChildTask {
  margin-top: 7px; }

.wrapTaskDetail .childTask {
  background: #FFF;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding: 2px 4px; }
  .wrapTaskDetail .childTask .childContent {
    width: 80%; }
  .wrapTaskDetail .childTask .childInfo {
    width: 20%; }

.wrapTaskDetail .childTask:first-child {
  border-radius: 4px 4px 0 0;
  border-top: 1px solid #E6E6E6; }

.wrapTaskDetail .childTask:last-child {
  border-radius: 0 0 4px 4px; }

.avatar {
  width: 35px;
  height: 35px;
  margin-right: 3px;
  border-radius: 17px;
  cursor: pointer; }

.avatar.avatarSmall {
  width: 25px;
  height: 25px; }
