.taskCategorys {
  width: 1280px;
  height: 676px;
  overflow-x: scroll; }
  .taskCategorys .taskList {
    background: #EEE;
    padding: 4px 7px;
    border-radius: 4px;
    margin-right: 7px;
    width: 290px;
    min-height: 680px; }
    .taskCategorys .taskList h4 {
      color: #666; }
      .taskCategorys .taskList h4:hover {
        color: #000; }
      .taskCategorys .taskList h4 button {
        display: none; }
    .taskCategorys .taskList .item {
      clear: both;
      background: #FFF;
      min-height: 100px;
      margin-bottom: 7px;
      padding: 3px 6px;
      border: 3px solid #DDD;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.2s background;
      color: #666; }
      .taskCategorys .taskList .item:hover {
        background: #00ccdd;
        color: #000; }
      .taskCategorys .taskList .item p {
        clear: both; }
        .taskCategorys .taskList .item p:last-child {
          text-align: right; }
        .taskCategorys .taskList .item p span {
          background: #3DA8F5;
          padding: 3px;
          border-radius: 3px;
          color: #FFF;
          position: relative;
          top: 3px; }
    .taskCategorys .taskList img {
      width: 35px;
      height: 35px;
      margin-right: 3px;
      border-radius: 17px; }

.wrapAddTaskWorker {
  padding: 10px; }
  .wrapAddTaskWorker .btn-success {
    width: 88px; }
  .wrapAddTaskWorker .warpMembers label {
    margin-right: 12px; }
