@import "base";

$mainFontColor:#000;
$mainBackgroundColor:#EEE;
$unMainFontColor:#666;
header{
	padding:10px 50px;
	background:#333;
	clear:both;
	height:45px;
	.left{
		float:left;
	}
	
	.right{
		float:right;
		a{
			&:nth-child(3){
				color:#666;
			}
		}
	}
	a{
		color:#FFF;
	}
}

.mainOut{
	width:1280px; 
	margin:30px auto 0;
	clear:both;
}
.projectList{
	li{
		width:220px; 
		height:115px; 
		line-height:115px; 
		margin-right:7px;
		margin-bottom:7px;
		font-size:24px; 
		font-weight:bold;
		float:left; 
		border:1px solid #DDD; 
		text-align:center;
		
		&:last-child{
			a{
				color:$unMainFontColor;
			}
		}
	}
}

.wrapProjectName{
	background:$mainBackgroundColor;
	padding:8px 16px;
	font-size:24px;
	margin-bottom:20px;
	
	button{
		display:none;
	}
}

.taskCategorys{
	overflow-x: scroll;
	
	.taskList{
		//display:inline-block;
		background:$mainBackgroundColor;
		padding:4px;
		border-radius:2px;
		margin-right:7px;
		width:290px;
		min-height:680px;
		h4{
			color:$unMainFontColor;
			
			&:hover{
				color:$mainFontColor;
			}
			
			button{
				display:none;
			}
		}
	}
}

.wrapAddTaskWorker{
	padding:10px;
	
	.btn-success{
		width:78px;
	}
	.warpMembers{
		label{
			margin-right:12px;
		}
	}
}