
$mainFontColor:#000;
$mainBackgroundColor:#EEE;
$unMainFontColor:#666;
.taskCategorys{
	overflow-x: scroll;
	
	.taskList{
		//display:inline-block;
		background:$mainBackgroundColor;
		padding:4px;
		border-radius:2px;
		margin-right:7px;
		width:290px;
		min-height:680px;
		h4{
			color:$unMainFontColor;
			
			&:hover{
				color:$mainFontColor;
			}
			
			button{
				display:none;
			}
		}
	}
}

.wrapAddTaskWorker{
	padding:10px;
	
	.btn-success{
		width:88px;
	}
	.warpMembers{
		label{
			margin-right:12px;
		}
	}
}