
$mainFontColor:#000;
$mainBackgroundColor:#EEE;
$unMainFontColor:#666;
.taskCategorys{
	width:1280px;
	height:676px;
	overflow-x:scroll;
	
	.taskList{
		//	display:inline-block;
		background:$mainBackgroundColor;
		padding:4px 7px;
		border-radius:4px;
		margin-right:7px;
		width:290px;
		min-height:680px;
		h4{
			color:$unMainFontColor;
			
			&:hover{
				color:$mainFontColor;
			}
			
			button{
				display:none;
			}
		}
	
		.item{
			clear:both;
			background:#FFF;
			min-height:100px;
			margin-bottom:7px;
			padding:3px 6px;
			border:3px solid #DDD;
			border-radius:4px;
			cursor:pointer;
			transition:0.2s background;
			color:$unMainFontColor;
			&:hover{
				background:#00ccdd;
				color:$mainFontColor;
			}
			
			p{
				clear:both;
				&:last-child{
					text-align:right;
				}
				
				span{
					background:#3DA8F5;
					padding:3px;
					border-radius:3px;
					color:#FFF;
					position:relative;
					top:3px;
				}
			}
		}

		img{
			width:35px;
			height:35px; 
			margin-right:3px;
			border-radius:17px;
		}
	}
}

.wrapAddTaskWorker{
	padding:10px;
	
	.btn-success{
		width:88px;
	}
	.warpMembers{
		label{
			margin-right:12px;
		}
	}
}