$mainFontColor: #000;
$mainBackgroundColor: #EEE;
$unMainFontColor: #666;
$borderColor: #E6E6E6;
$border:1px solid #E6E6E6;

@keyframes taskDou{
	0%, 100% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	25% {
		-moz-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	50% {
		-moz-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}

	75% {
		-moz-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}

	85% {
		-moz-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
}

.taskCategorys {
	display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	width: 1280px;
	height: 700px;
	overflow-x: scroll;

	.taskList {
		flex: none;
		background: $mainBackgroundColor;
		padding: 4px 7px;
		border-radius: 4px;
		margin-right: 7px;
		width: 290px;
		min-height: 680px; //待修改
		h4 {
			height: 34px;
			line-height: 34px;
			color: $unMainFontColor;

			&:hover {
				color: $mainFontColor;
			}

			button {
				display: none;
			}
		}

		.item {
			clear: both;
			background: #FFF;
			min-height: 100px;
			margin-bottom: 7px;
			padding: 3px 6px;
			border: 3px solid #DDD;
			border-radius: 4px;
			cursor: pointer;
			transition: all 0.2s;
			color: $unMainFontColor;
			
			&:hover {
				background: #00ccdd;
				color: $mainFontColor;
			}
			
			.taskTitle{
				height: 42px;
			}
			
			p {
				clear: both;
				&:last-child {
					text-align: right;
				}

				span {
					background: #3DA8F5;
					padding: 3px;
					border-radius: 3px;
					color: #FFF;
					position: relative;
					top: 3px;
				}
			}
		}
		
		.item.dou{
			animation: taskDou 0.5s alternate;
		}
	}
}

.wrapAddTaskWorker {
	padding: 10px;

	.btn-success {
		width: 88px;
	}
	.warpMembers {
		label {
			margin-right: 12px;
		}
	}
}

.wrapTaskDetail{
	.modal-content{
		background:#F7F7F7;
		padding:13px;
	}
	
	.modal-body{
		padding:0;
	}
	
	.row{
		margin:0;
	}
	
	.taskTitle{
		margin-top:3px;
		padding:2px;
		font-weight:bold;
	}
	
	.topInfo{
		background:#FFF;
		height:80px;
		border:1px solid $borderColor;
		border-radius: 4px;
		div{
			border-right:1px solid $borderColor;
			height:100%;
		}
		div:last-child{
			border-right:none;
		}
		
		p:first-child{
			font-size:12px;
			color:$unMainFontColor;
			margin:3px 0;
		}
		.avatar{
			margin-bottom:5px;
		}
	}

	.wrapAddChildTaskForm{
		margin-top:7px;
		p{
			position:relative;
			text-align:right;
			margin-top:5px;
			img,span,button{
				margin-right:5px;
			}
			.limitTime{
				cursor:pointer;
			}
			ul{
				position:absolute;
				left:0;
				top:37px;
				height:85px;
				overflow-y:scroll;
			}
		}
		
		.childTaskWorker{
			position:relative;
			left:-16px;
		
		}
	}
	
	.btnAddChildTask{
		margin-top:7px;
	}
	
	.childTask{
		background:#FFF;
		border-left:$border;
		border-right:$border;
		border-bottom:$border;
		padding: 2px 4px;
		
		.childContent{
			width:80%;
		}

		.childInfo{
			width:20%;
		}
	}
	
	.childTask:first-child{
		border-radius:4px 4px 0 0;
		border-top:$border;
	}
	
	.childTask:last-child{
		border-radius:0 0 4px 4px;
	}
}

.avatar{
	width: 35px;
	height: 35px; 
	margin-right: 3px;
	border-radius: 17px;
	cursor:pointer;
}

.avatar.avatarSmall{
	width: 25px;
	height: 25px;
}